<!-- Preciso resolver esta questao <title>Conteúdos</title> -->
{% extends "layout.njk" %}

{% block head %}

    <title>Conteúdos</title>

    <!-- icone de fechar modal -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block content %}


<div id="wrapper">
    <h1>Conteúdos</h1>
</div>

<section class="cards">

    {# criando estrutura de repetição #}
    {% for item in items %}
        <div class="card" id="{{item.id}}">
            <div class="card__image-container">
                <img src="https://blog.rocketseat.com.br/content/images/{{item.img}}.png" alt="Imagem de {{item.title}}">
            </div>
            <div class="card__content">
                <p>{{item.title}}</p>
            </div>
            <div class="card__info">
                <p class="card__author">{{item.author}}</p>
                <p class="card__time"><i class="material-icons">timer</i>{{item.time}}</p>
            </div>
        </div>
    {% endfor %}

</section>

<div class="modal-overlay">
    <div class="modal">
        <!-- controlar o click com o js -->
        <a class="close-modal">
            <i class="material-icons">close</i>
        </a>

        <!-- botao de maximizar  -->
        <a class="maximize-modal">
            <i class="material-icons">open_in_full</i>
        </a>

        <div class="modal-content">
            <iframe src="" frameborder="0"></iframe>
        </div>
    </div>
</div>

<script src="scripts.js"></script>

{% endblock %}